body{
    font-size: 16px;
    color: #333;
}
h1{
    font-size: 2rem;
    color: red;
    text-align: center;
}
h2{
    font-size: 1.75rem;
    color: #bbf;
    text-align: center;
}
p{
    font-size: 1.75rem;
    color: #ccb;
    text-align: center;
}